<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div>
      <p>
        <a href="/celebrities">See all celebrities</a>
      </p>
      <p>
        <a href="/celebrities/create">Create new celebrities</a>
      </p>
      <p>
        <a href="/movies">See all movies</a>
      </p>
      <p>
        <a href="/movies/create">Create new movies</a>
      </p>
      {{! <a href="/celebrities"></a> }}
    </div>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>